/* Test GIT */

/* Backgound page */

body
{
    background-color: hsl(212, 45%, 89%);
 /*    width: 600px; 
    height: 800px; */
}

div
{
/*     margin: 250px 400px 200px 400px ;
 */}

/* # section QR code */

.card
{
    background-color:hsl(0, 0%, 100%);
    width: 310px;
    height: 500px;
    margin: 200px auto;
    border-radius: 10px;
    
}


/* # section QR code */

img
{
    width: 290px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    

}

/* # section slogan */

h2
{
    margin: 10px;
    padding-left: 20px;
    padding-right: 10px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-family: 'Outfit' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    
}


/* # section texte */

p
{
    color: hsl(220, 15%, 55%);
    margin: 10px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
    font-family: 'Outfit' , sans-serif;
    font-style: normal;
    font-display: swap;
}